*{
              background-image: url(../images/bg.jpg);
              background-size: cover;
              background-repeat: no-repeat;
              color: white;
              background-attachment: fixed;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              padding: 0px;
}

h1{
              font-family: TT phobos;
              display: flex;
              justify-content: center;
              height: 100px;
}

.Game-list{
              display: flex;
              justify-content: center;
              align-items: center;
}

.sound{
     visibility: hidden;
}

a{
              text-decoration: none;
              margin: 25px 0px;
              font-size: 20px;
              font-weight: 500px;
              border-radius: 5px;
              transition: all 0.3s ease;
              box-sizing: border-box;
               padding: 8px 15px;
              border-radius: 13px;
              text-align: center;
              font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
              position: relative;
              z-index: 1;
}

ul>li{
     margin: 10px;
     padding: 8px;
}

a:hover{
              background-color: beige;
              color: black;
              background-image: none;
         }

.version{
     position: fixed;
     display: flex;
     justify-content: end;
     height: 100vh;
     cursor: pointer;
     bottom:0;
     align-items: end;
}